@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --ff-geist: "Geist", serif;

  --line-height-1: 125%;
  --line-height-2: 175%;

  --ls-increase: 0.03em;
  --ls-decrease: -0.03em;

  --font-size-1: 38px;
  --font-size-2: 31.25px;
  --font-size-3: 25px;
  --font-size-4: 20px;
  --font-size-5: 16px;

  --font-900: 900;
  --font-800: 800;
  --font-700: 700;
  --font-600: 600;
  --font-500: 500;
  --font-400: 400;

  --primary-color: #021823;
  --secondary-color: #a2bcc8;
  --accent-color: #ffb703;

  --neutral-color: hsla(198, 10%, 19%, 0.259);
  --neutral-color-2: rgb(156, 156, 156);

  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 8px;
  --spacing-4: 12px;
  --spacing-5: 16px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;
  --spacing-10: 64px;
  --spacing-11: 96px;
  --spacing-12: 160px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-geist);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

li {
  list-style: none;
}

button,
input,
textarea {
  font-family: var(--ff-geist);
}

/*  */

.app-layout {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  height: 100vh;
  max-height: 100vh;
}

.nav-container {
  background-color: var(--neutral-color);
  padding: 0 var(--spacing-6);
  border-right: 1px solid rgba(255, 255, 255, 0.077);
}

.nav-logo-container {
  padding: var(--spacing-6) 0;
}

.folder-notes {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--spacing-4) 0;
}

.folder-name {
  font-size: 14px;
  line-height: var(--line-height-2);
  font-weight: var(--font-500);
}

.folder-notes-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}

.nav-logo {
  font-size: var(--font-size-4);
  font-weight: var(--font-500);
  line-height: var(--line-height-1);
  letter-spacing: var(--ls-increase);
  font-weight: var(--font-800);
}

.tag-title {
  font-weight: var(--font-600);
  padding: var(--spacing-4) 0;
  color: var(--neutral-color-2);
}

.tag-item-content {
  display: flex;
  align-items: center;
  padding: var(--spacing-5) 0;
  gap: var(--spacing-3);
}

.tag-item-content-text {
  font-size: 14px;
}

.notezen-logo {
  width: 120px;
  height: 120px;
}

.heading-one {
  line-height: var(--line-height-1);
  letter-spacing: var(--ls-decrease);
  font-size: var(--font-size-3);
  font-weight: var(--font-700);
}

.main-container {
  display: grid;
  grid-template-rows: 1fr 8fr;
  /* border: 2px solid pink; */
}

/* Header Container */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.077);
}

.header-input-controller {
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
}

.search-form-controller {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  border: 2px solid rgba(255, 255, 255, 0.077);
  border-radius: var(--spacing-3);
  padding: var(--spacing-4);
}

.search-input {
  width: 240px;
  background: none;
  border: none;
  color: var(--secondary-color);
}

.search-input:focus {
  outline: none;
}

.btn-setting {
  cursor: pointer;
  background: none;
  color: var(--secondary-color);
  border: none;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  /* border: 2px solid rgb(9, 255, 0); */
}

/* .main-content > * {
  border: 2px solid red;
} */

.notes-container {
  padding: var(--spacing-5) var(--spacing-5) 0 var(--spacing-5);
  border-right: 2px solid rgba(255, 255, 255, 0.077);
}

.note-display-container {
  padding: var(--spacing-5) var(--spacing-5) 0 var(--spacing-5);
  border-right: 2px solid rgba(255, 255, 255, 0.077);
}

.note-input-container {
  margin-bottom: var(--spacing-4);
}

.note-item-card {
  padding: var(--spacing-4);
  border-radius: 2px;
  margin-bottom: var(--spacing-4);
  background-color: hsla(199, 74%, 15%, 0.355);
}

.btn-create {
  cursor: pointer;
  display: block;
  width: 100%;

  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: 6px;
  padding: var(--spacing-4) 0;
  font-size: var(--font-size-5);
  font-weight: var(--font-700);
  letter-spacing: var(--ls-decrease);
  line-height: var(--line-height-1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.note-tags-container,
.note-date-container {
  display: flex;
  justify-content: space-between;
}

.note-tags-list {
  display: flex;
}

.note-item-title {
  font-size: var(--font-size-4);
  line-height: var(--line-height-1);
  letter-spacing: var(--ls-decrease);
  font-weight: var(--font-700);
  margin-bottom: 4px;
}

.note-tag {
  display: inline-block;
  font-size: 12px;
  font-weight: var(--font-600);
  padding: 2px 8px;
  margin-right: 8px;
  border-radius: 8px;
  background-color: hsla(199, 69%, 23%, 0.873);
  color: #a2bcc8;
}

.note-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.note-item-date {
  font-size: 14px;
  font-weight: var(--font-600);
  color: hsla(200, 9%, 46%, 0.848);
}

.note-bin-container {
  padding: var(--spacing-5) var(--spacing-5) 0 var(--spacing-5);
}

.bin-item {
  border: 2px solid rgba(255, 255, 255, 0.171);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.bin-item-link {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 14px;
  font-weight: var(--font-600);
  letter-spacing: var(--ls-decrease);
  line-height: var(--line-height-1);
}

.note-display-container {
  position: relative;
  /* border: 2px red solid; */
}

.note-control-panel {
  position: absolute;
  padding: var(--spacing-6) 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.note-control-content {
  padding: 0 var(--spacing-5);
}

.note-header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.171);
  padding-bottom: 16px;
}

.heading-two {
  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
  letter-spacing: var(--ls-decrease);
}

.note-detail-tags,
.note-detail-edited {
  display: flex;
  padding: 12px 0;
}

.note-detail-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
  width: 140px;
}

.note-label {
  font-size: 14px;
  font-weight: var(--font-600);
  line-height: var(--line-height-1);
  letter-spacing: var(--ls-decrease);
}

.btn-save {
  cursor: pointer;
  font-family: inherit;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: var(--ls-decrease);
  line-height: var(--line-height-1);
  background-color: var(--accent-color);
  padding: var(--spacing-4) var(--spacing-7);
}

.note-detail-content {
  display: flex;
  justify-content: space-between;
}

.btn-delete {
  cursor: pointer;
  background: none;
  border: none;
  color: rgb(189, 69, 45);
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.267);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-control-panel {
  position: relative;
  left: 300px;
  margin-bottom: 8px;
}

.create-note-form {
  width: 580px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: hsla(199, 74%, 15%, 0.992);
  border-radius: 8px;
  padding: 24px;
}

.input-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: var(--ls-decrease);
  line-height: var(--line-height-1);
  margin-bottom: 8px;
}

.btn-modal {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--secondary-color);
}

.input-text {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: var(--line-height-2);
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ffb80351;
  background: none;
  outline: none;
  background-color: #02182342;
  color: var(--secondary-color);
}

.input-text:focus {
  border: 2px solid #ffb803e7;
  background-color: #1c6d967f;
}

.form-section {
  margin-bottom: 12px;
}

.form-heading {
  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
  letter-spacing: var(--ls-decrease);
  margin-bottom: 24px;
}
